<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Designer's Corner</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
        <link rel="stylesheet" href="https://bulma-tagsinput.netlify.app/css/docs.css" />
        <link rel="stylesheet" href="https://bulma-tagsinput.netlify.app/css/bulma-tagsinput.min.css" />
        <link href="../../css/user-stylesheet.css" type="text/css" rel="stylesheet">
        <script src="../../javascript/interactive.js"></script>
        <script src="https://kit.fontawesome.com/2453f003ac.js" crossorigin="anonymous"></script>
    <body>

    <% errors.forEach(function(error) { %>
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            <%= error %>
        </div>
    <% }); %>

    <% infos.forEach(function(info) { %>
        <div class="notification is-info is-light" role="alert">
            <button class="delete"></button>
            <%= info %>
        </div>
    <% }); %>

    <div class="columns is-centered">