<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Designer's Corner</title>
        <link href="../../css/stylesheet.css" type="text/css" rel="stylesheet">
        <script type="module" src="../../javascript/interactive.js"></script>
        <script src="https://kit.fontawesome.com/2453f003ac.js" crossorigin="anonymous"></script>
    </head>
    <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Designer's Corner
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <% if (currentUser) { %>
                    <% if (currentUser.portfolioExists === true) { %>
                        <a class="navbar-item action-button" href="/portfolios/<%= currentUser.portfolio %>/edit"><i class="fa-regular fa-folder-closed"></i></a>
                    <% } else if (currentUser.portfolioExists === false) { %>
                        <a class="navbar-item action-button" href="/add"><i class="fa-regular fa-folder-open"></i></a>
                    <% } %>
                    <a class="navbar-item action-button" href="/users/<%= currentUser.username %>"><i class="fa-regular fa-user"></i></a>
                    <a class="navbar-item action-button" href="#"><i class="fa-regular fa-building"></i></a>
                    <a class="navbar-item" href="/logout">Sign Out</a>
                <% } else { %>
                    <a class="" href="/login">Sign In</a>
                <% } %>
            </div>
        </div>
    </nav>

    <% errors.forEach(function(error) { %>
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            <%= error %>
        </div>
    <% }); %>

    <% infos.forEach(function(info) { %>
        <div class="notification is-info is-light">
            <button class="delete"></button>
            <%= info %>
        </div>
    <% }); %>
    <div class="columns is-centered">
