<%- include("../partials/_header") %>

<div class="column is-4">
    <form action="/profiles/add_profile/<%= user.username %>" method="POST">
        <div class="container is-max-desktop mt-6">
            <h1 class="title">Designer's Corner</h1>
            <h2 class="subtitle">Tell us more about yourself</h2>
            <div class="control">
                <h5>I am a...</h5>
                <label class="radio">
                    <input type="radio" name="purpose" value="Junior Designer">
                    Junior Designer
                </label>
                <label class="radio">
                    <input type="radio" name="purpose" value="Mid-level Designer">
                    Mid-level Designer
                </label>
                <label class="radio">
                    <input type="radio" name="purpose" value="Senior Designer">
                    Senior Designer
                </label>
                <label class="radio">
                    <input type="radio" name="purpose" value="Mentor">
                    Mentor
                </label>
            </div>

            <div class="field">
                <label for="skills" class="label">I am skilled at...</label>
                <input id="skills" class="input is-primary" type="text" name="skills" placeholder="User Research, Prototyping, Wireframing">
                <p class="help">Ensure your three entries are separated with a space and comma.</p>
            </div>

            <div class="field">
                <textarea class="textarea is-primary" name="bio" placeholder="I am amazing because..." aria-label="Bio"></textarea>
            </div>

            <div class="field">
                <p class="control">
                <input class="input is-primary" name="profileImage" type="text" placeholder="URL to your profile image" aria-label="Profile Img Input">
                </p>
            </div>

            <div class="field">
                <button class="button is-primary" type="submit">Create Profile</button>
            </div>
        </div>
    </form>
</div>

<%- include("../partials/_footer") %>