@charset "utf-8";

// Beginning of custom variables for Designer's Corner

// Sass custom variables
$background: #EFEFF0;
$surface: #FAFAFA;
$primary-purple: #3A00E5;
$primary-subtle: #F7F5FF;
$primary-black: #000;
$primary-white: #FFF;
$border: 2px solid $primary-purple;


// Sass Bulma color Variables
$primary: $primary-purple;
$link: $primary-subtle;
$warning: $primary-black;


// Sass Bulma Button variable customizer



// Bulma Sass Panel variable customizer
$panel-heading-background-color: $primary-subtle;


// Bulma Sass Card variable customizer
$card-background-color: $primary-subtle;
$card-content-background-color: $primary-white;
$card-footer-background-color: $primary-subtle;


// Bulma Sass Navbar variable customizer
$navbar-item-color: $primary-black;
$navbar-item-hover-color: $primary-black;
$navbar-item-hover-background-color: $primary-white;
$navbar-background-color: $primary-subtle;
$navbar-height: 4rem;


// General CSS rules
.card-content {
  border: $border;
  border-radius: 15px;
}

#description {
  height: 20rem;
}


@import "../../node_modules/bulma/bulma.sass";