// Sass custom variables
$background: #EFEFF0;
$surface: #FAFAFA;
$primary-purple: #3A00E5;
$primary-subtle: #F7F5FF;
$primary-black: #000;
$primary-white: #FFF;
$border: 2px solid $primary-purple;


// Sass Bulma color Variables
$primary: $primary-purple;
$link: $primary-subtle;
$warning: $primary-black;

// Bulma Sass Panel variable customizer
$panel-heading-background-color: $primary-subtle;


// Bulma Sass Card variable customizer
$card-background-color: $primary-subtle;
$card-content-background-color: $primary-white;
$card-footer-background-color: $primary-subtle;


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card-content {
  border: 2px solid #3A00E5;
  border-radius: 15px;
}

.icon > a {
  color: black;
}

#description {
  height: 20rem;
}