<%- include("../partials/_header") %>

<div class="columns is-mobile is-centered">
    <div class="column is-4">
        <div class="card-content">
            <form action="/portfolios/<%= portfolio.title %>/add_comment" method="POST">
                <div class="field">
                    <textarea class="textarea" placeholder="Comment here." name="comment" aria-label="comment"></textarea>
                </div>
                <button class="button is-link">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/_footer") %>