<%- include("../partials/_header") %>

<div class="column is-4">
    <div class="card-content">
        <form action="/portfolios/<%= portfolio.title %>/add_comment" method="POST">
            <div class="field">
                <textarea class="textarea" placeholder="Comment here." name="comment" aria-label="comment"></textarea>
            </div>
            <button class="button is-primary">Submit</button>
        </form>
    </div>
</div>

<%- include("../partials/_footer") %>