<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Designer's Corner</title>
        <script src="https://kit.fontawesome.com/2453f003ac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://kit.fontawesome.com/2453f003ac.css" crossorigin="anonymous">
        <style>
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 100vh;
            }

            .button {
                background-color: #3A00E5;
            }

            .card {
                background-color: #F7F5FF;
            }

            .card-footer ol li {
                display: inline;
            }

            .border {
                border: 3px solid #3A00E5;
                border-radius:5px;
                padding: 2px;
            }
        </style>
    </head>

    <body>
        <main>
            <form action="/add" method="POST">
                <div class="container is-max-desktop">
                    <h2 class="subtitle">Add your Portfolio</h2>

                    <div class="field">
                        <label for="title" class="label">Portfolio Name</label>
                        <input class="input" id="title" name="title" type="text" required autofocus>
                    </div>

                    <div class="field">
                        <label for="imageOfOne" class="label">Image #1</label>
                        <input class="input" id="imageOfOne" name="imageOfOne" type="text" required>
                    </div>

                    <div class="field">
                        <label for="imageOfTwo" class="label">Image #2</label>
                        <input class="input" id="imageOfTwo" name="imageOfTwo" type="text" required>
                    </div>

                    <div class="field">
                        <label for="imageOfThree" class="label">Image #3</label>
                        <input class="input" id="imageOfThree" name="imageOfThree" type="text" required>
                    </div>

                    <div class="field">
                        <label for="live" class="label">Live Demo</label>
                        <input class="input" id="live" name="live" type="text">
                    </div>

                    <div class="field">
                      <span class="input-group-text">With textarea</span>
                      <textarea class="textarea" name="description" aria-label="With textarea"></textarea>
                    </div>

                    <div class="field is-grouped">
                        <p class="control">
                            <button class="input has-text-white has-background-link">Add Portfolio</button>
                        </p>
                        <p class="control">
                            <a class="input has-text-white has-background-info" href="/">Cancel</a>
                        </p>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>