<%- include("partials/_header_user") %>

    <form action="/signup" method="POST">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column is-one-third">

                    <h1 class="title">Designer's Corner</h1>

                    <h2 class="subtitle">Create your account</h2>

                    <div class="field">
                        <label for="username" class="label">Username</label>
                        <p class="control has-icons-left">
                            <input class="input" id="username" name="username" type="text" required autofocus>
                            <span class="icon is-small is-left">
                                <i class="fa-regular fa-user"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <p class="control has-icons-left">
                            <input class="input" id="password" name="password" type="password" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label for="phoneNumber" class="label">Phone Number</label>
                        <p class="control">
                            <input class="input" id="phoneNumber" name="phoneNumber" type="number" required>
                        </p>
                         <p class="help">xxx-xxx-xxxx</p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="input has-text-white has-background-link">Sign Up</button>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">Already have an account? <a href="/login">Sign in!</a></p>
                    </div>
                </div>

                <div class="column is-two-thirds">
                    <h2 class="subtitle">Matching the right people with the right job.</h2>
                    <article class="card">
                        <header class="card-header mb-3">
                            <p class="card-header-title">
                                Component
                            </p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <div class="media p-2">
                            <div class="media-content mt-3">
                                <div class="content">
                                    <p>Hi, my name is Ben Ramos. <br>
                                    I am a UX Designer with a focus on fintech and SaaS technologies. <br>
                                    Check out some of my latest projects below.</p>
                                </div>
                            </div>
                            <div class="media-right">
                                <p class="image is-64x64">
                                    <img alt="Image #1" src="https://bulma.io/images/placeholders/64x64.png">
                                </p>
                                <p class="image is-64x64">
                                    <img alt="Image #2" src="https://bulma.io/images/placeholders/64x64.png">
                                </p>
                                <p class="image is-64x64">
                                    <img alt="Image #3" src="https://bulma.io/images/placeholders/64x64.png">
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </form>

<%- include("partials/_footer") %>