<%- include("partials/_header") %>

<div class="column is-half">
    <h3 class="subtitle">UX Design Portfolios</h3>
    <% if (portfolios.length >= 1) { %>
        <% portfolios.forEach(function(portfolio) {%>
            <hr>

        <% }) %>
    <% } else { %>
        <article></article>
    <% } %>
</div>

<%- include("partials/_footer") %>