<%- include("partials/_header_user") %>

    <form action="/login" method="POST">
        <div class="container is-max-desktop">

            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" id="username" name="username" type="text" placeholder="Username" required autofocus>
                <span class="icon is-small is-left">
                  <i class="fa-regular fa-user"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input class="input" id="password" name="password" type="password" placeholder="Password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control">
                <button class="input has-text-white has-background-link">
                  Sign In
                </button>
              </p>
            </div>
            <div class="field">
                <p class="control">Don't have an account? <a href="/signup">Create one!</a></p>
            </div>
        </div>
    </form>

<%- include("partials/_footer") %>