/* CSS Variables */
:root {
    --black: #19191B;
    --subtitle1: #61646B;
    --subtitle2: #AFB1B6;
    --background: #EFEFF0;
    --surface: #FAFAFA;
    --primary-purple: #3A00E5;
    --primary-subtle: #F7F5FF;
    --primary-black: #000000;
    --primary-subtle-white: #FFFFFF;
    --custom-border: 2px solid var(--primary-purple);
    --custom-border-radius-img: 10%;
    --custom-border-radius-p: 1%;
}

/* Vanilla Selectors */
nav .action-button {
    /*border: 1px solid black;*/
    /*border-radius: 5%;*/
    margin-right: 15px;
}

/* Class Selectors */
.media-right img {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius-img);
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.content {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius-p);
    padding: 10px;
}

.portfolio_info {
    height: 400px;
}

/* ID Selectors */
#bio {
    height: 125px;
}


/* Media Queries */