/* CSS Variables */

:root {
    --black: #19191B;
    --border-color: #9747FF;
    --subtitle1: #61646B;
    --subtitle2: #AFB1B6;
    --background: #EFEFF0;
    --surface: #FAFAFA;
    --primary-purple: #3A00E5;
    --primary-subtle: #F7F5FF;
    --primary-black: #000000;
    --primary-subtle-white: #FFFFFF;
    --custom-border: 2px solid var(--border-color);
    --custom-border-radius-img: 10%;
    --custom-border-radius-p: 2%;
}


/* Vanilla Selectors */

nav .action-button {
    /*border: 1px solid black;*/
    /*border-radius: 5%;*/
    margin-right: 15px;
}


/* Class Selectors */

.media-right img {
    border-radius: var(--custom-border-radius-img);
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.content {
    border-radius: var(--custom-border-radius-p);
    padding: 10px;
}


/* ID Selectors */


/* Media Queries */
