:root {
    --black: #19191B;
    --subtitle1: #61646B;
    --subtitle2: #AFB1B6;
    --background: #EFEFF0;
    --surface: #FAFAFA;
    --primary-purple: #3A00E5;
    --primary-subtle: #F7F5FF;
    --primary-black: #000000;
    --primary-subtle-white: #FFFFFF;
    --custom-border: 1px solid var(--primary-purple);
    --custom-border-radius-img: 5%;
    --custom-border-radius-p: 2%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.button {
    background-color: #3A00E5;
}

.card {
    background-color: #F7F5FF;
}

.card-footer ol li {
    display: inline;
}

.border {
    border: 3px solid #3A00E5;
    border-radius:5px;
    padding: 2px;
}

.media-right img {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius-img);
    margin-top: 10px;
}

.content p {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius-p);
    height: 200px;
    padding: 10px;
}