<%- include("../partials/_header_user") %>

    <div class="column is-4">
        <form action="/password/<%= user.username %>/edit_password?_method=PATCH" method="POST">
            <div class="container is-max-desktop">
                <h2 class="subtitle">Update Password</h2>
                <div class="field">
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <input class="input" id="password" name="password" type="password" required>
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="input has-text-white has-background-info">Edit Password</button>
                        </p>
                        <p class="control">
                            <a class="input has-text-white has-background-dark" href="/users/<%= user.username%>">Go Back</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

<%- include("../partials/_footer") %>